<h1>Add Ingredients</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add an Ingredient", class: "btn btn-primary" %>

<% end %>
